* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-color: #ffffff;
}

.green {
    color: #30b868;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    color: #ffffff;
}

nav .logo a img {
    width: 139px;
    height: 60px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav .nav-links li a {
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

nav .nav-links li a:hover {
    color: #ff6600;
}

nav .btn {
    font: Inter;
    padding: 12px 16px;
    /* background-color: #30b868; */
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

nav .btn:hover {
    background-color: #30b868;
    cursor: pointer;
}

/* banner Section */
.hero {
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    ;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    height: 100%;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: #e0f7fa;
    color: #30b868;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
}

.badge .dot {
    width: 10px;
    height: 10px;
    background: #30b868;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.2);
}

.hero h1 {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
}

.hero p {
    font-size: 18px;
    color: #ffffff;
    max-width: 600px;
    line-height: 1.2;
}
.hero-btn{
    display: inline-flex;
    gap: 16px;
    align-items: center;
}
.btn-primary {
    display: inline-flex;
    /* justify-content: center; */
    padding: 12px 16px;
    gap: 2px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: #30b868;
    cursor: pointer;
}
.btn-secondary {
    display: inline-flex;
    justify-content: center;
    padding: 12px 16px;
    gap: 2px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.btn-secondary:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
/* Feature Section */
.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 120px;
    gap: 64px;
    background-color: #f9f9f9;
}
.feature-content {
    text-align: center;
    max-width: 800px;
}
.feature-item {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 32px;
    
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}
.feature-img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f95555;
    border-radius: 50%;
    
}
.feature-img img {
   
   height: 30px;
    width: 30px;
    top: 1.6px;
    left: 2.49px;
}
