* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-color: #ffffff;
}

.green {
    color: #30b868;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    color: #ffffff;
}

nav .logo a img {
    width: 139px;
    height: 60px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav .nav-links li a {
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

nav .nav-links li a:hover {
    color: #ff6600;
}

.btn {
    font: Inter;
    padding: 12px 16px;
    /* background-color: #30b868; */
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

nav .btn:hover {
    background-color: #30b868;
    cursor: pointer;
}

/* banner Section */
.hero {
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    ;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    height: 100%;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: #e0f7fa;
    color: #30b868;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
}

.badge .dot {
    width: 10px;
    height: 10px;
    background: #30b868;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.2);
}

.hero h1 {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
}

.hero p {
    font-size: 18px;
    color: #ffffff;
    max-width: 600px;
    line-height: 1.2;
}

.hero-btn {
    display: inline-flex;
    gap: 16px;
    align-items: center;
}

.btn-primary {
    display: inline-flex;
    /* justify-content: center; */
    padding: 12px 16px;
    gap: 2px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #30b868;
    cursor: pointer;
}

.btn-secondary {
    display: flex;

    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-secondary:hover {
    background-color: #30b868;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.btn-secondary span img {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    color: #ffffff;
}

/* Feature Section */
.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 120px;
    gap: 64px;
    background-color: #f9f9f9;
}

.feature-content {
    text-align: center;
    max-width: 800px;
}

.feature-content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.feature-content p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 50px;
}

.feature-item {
    height: 141px;
    width: 1360px;
    margin: auto;
    padding-top: -20px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 32px;

}

.item {
    height: 300px;
    width: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px #0000000F;
    padding: 24px;
    border-radius: 8px;
    gap: 16px;
    background: #FFFFFF;


}

.item h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 10px;
}

.item p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    ;
}

.feature-img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f95555;
    border-radius: 50%;

}

.feature-img img {

    height: 30px;
    width: 30px;
    top: 1.6px;
    left: 2.49px;
}

/* How It Works Section */
.how-it-works-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 80px 120px;
    margin: 80px 0;
    gap: 60px;
}

.how-it-works-item {
    flex: 1;
}

.how-it-works-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.how-it-works-img img {
    width: 100%;
}

.how-it-works-content {
    flex: 1;
}

.how-it-works-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.how-it-works-content h3 {
    font-size: 16px;
    font-weight: 50;
    color: #30b868;
    margin-bottom: 16px;
}

.how-it-works-content p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 1.5;
    margin: 24px 0;
}


.how-it-works-checklist {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #001931;
    line-height: 1.5;
    gap: 8px;
}

/*  why-its-different */
.why-its-different {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 120px;
    gap: 32px;
    border-radius: 12px;
    margin: 0 120px;
    margin-bottom: 80px;
    background-color: #F7F6F2;
    ;
}

.why-its-different h1 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

.why-its-different p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;

    text-align: center;
}

.why-its-different .btn {
    display: inline-flex;
    gap: 8px;
    box-shadow: 0px 10px 20px 0px #00000026;

}

.why-its-different .btn:hover {
    background-color: #30b868;
    cursor: pointer;
}

/* footer */
footer {
    height: 348px;
    margin: auto;
    padding: 100px 100px 30px 100px;
    margin-top: 40px;
    border: 1px;
    background-color: #001931;
}

.footer-content {

    color: #ffffff;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 71px;
    height: 36px;
    top: 5px;
    left: 63px;
}

.footer-content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.footer-content .sosial-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer-content .sosial-links li a img {
    width: 20px;
    height: 20px;
    color: #ffffff;
    border-radius: 50%;
}

hr {
    width: 1360px;
    margin: auto;
    border: 1px solid #627382;
    margin-top: 20px;
}

footer p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 20px;
}